#page {
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#editBtn {
    cursor: pointer;
    float: unset;
}

#editBtn:hover > svg > .icon {
    fill: rgb(128, 163, 173);
}

.timeStamp {
    color: rgb(128, 163, 173);
    font-size: 14px;
}

#fullThread {
    color: white;
    margin-top: 20px;
    padding: 5px 20px;;
    margin: 20px 20px 0 20px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 0;
}

#errorMsg {
    background-color: rgb(255, 31, 31);
    color: black;
    font-weight: bold;
}

#commentForm {
    margin: 0 auto 40px auto;
    width: 80%;
}

textarea {
    margin: 20px 0 0 0;
    height: 60px;
    font-size: 16px;
    width: 100%;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: right;
}
button:hover {
    background-color: rgb(124, 216, 127);
}
svg {
    vertical-align: middle;
}