<div id="page">
  <div id="fullThread">
    <h1>{{ thread.title }}</h1>
    <span class="timeStamp">
      {{ thread.username | titlecase }} ~
      {{ thread.timeStamp | date:'longDate' }}.
      {{ thread.timeStamp | date:'shortTime' }}
    </span>
    <hr>
    <p>{{ thread.body }}</p>
  </div>
  <div *ngIf="loggedIn()">
    <form #commentForm="ngForm" (ngSubmit)="postComment()">
      <textarea [(ngModel)]="comment.body" name="body" placeholder="What are your thoughts?"></textarea><br>
      <button type="submit">Comment</button>
    </form>
    <p id="errorMsg" *ngIf="errorMsg">{{ errorMsg }}</p>
  </div>
  <app-comment [comments]="comments"></app-comment>
</div>