#title {
    cursor: pointer;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    margin: 0 0 0 10px;
    display: inline-block;
    color: rgb(233, 233, 233);
    vertical-align: middle;
}

#searchBar {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

@media only screen and (max-width: 700px) {
    #searchBar {
        display: none;
    }
    h1 {
        font-size: 35px;
    }
    a + a {
        margin-left: 10px;
    }
}

#header {
    background-color: rgb(32, 35, 46);
    width: 100%;
}

#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.links {
    margin-left: auto;
    display: inline-block;
    vertical-align: middle;
}

svg {
    vertical-align: middle;
}

svg:hover > .icon {
    fill: rgb(128, 163, 173);
}

input[type="text"] {
    flex-grow: 2;
    height: 25px;
    width: 300px;
    vertical-align: 75%;
    border-radius: 5px;
    border: rgb(182, 182, 182) 1px solid;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(50, 60, 85);
    color: white;
    vertical-align: middle;
}

input[type="text"]::placeholder {
    color: rgb(182, 182, 182);
}