<div id="header">
  <div id="container">
    <a id="title" [routerLink]="['']">
      <h1>ThoughtWall</h1>
    </a> 

    <div class="links">
      <input id="searchBar" type="text" placeholder="Search ThoughtWall" />
      <a id="searchIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
          <path class="icon" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" fill="white"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </a>
    </div>
    
    <div class="links">      
      <a [routerLink]="['/submit']">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
          <path class="icon" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" fill="white"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </a>
    </div>
  </div>
</div>