<mat-toolbar color="primary">
    <a id="title" (click)="hitHome()" [routerLink]="['']">
      <h1>ThoughtWall</h1>
    </a>

    <div class="links">
      <form (ngSubmit)="onSearchSubmit()" id="searchBar">
        <input [(ngModel)]="keyword" name="keyword" type="text" placeholder="Search" />
      </form>

      <button mat-icon-button color="accent">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">article</mat-icon>
      </button>
    </div>
</mat-toolbar>