@import '~@angular/material/theming';

body {
    background-color: rgb(233, 233, 233);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card-title {
    text-align: left;
}
mat-card-subtitle {
    text-align: left;
}
mat-card-content {
    text-align: left;
}

// mat-card {
//     color: white;
//     margin-top: 20px;
//     padding: 5px 20px;;
//     margin: 20px 20px 0 20px;
//     -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
//     box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
// }