<mat-card *ngIf="thread" class="shadow">
  <h1>{{ thread.title }}</h1>
  <span style="color:#4DD0E1">{{ thread.username | titlecase }}</span>
  <span class="timeStamp">
    ~ {{ thread.timeStamp | date:'longDate' }}.
    {{ thread.timeStamp | date:'shortTime' }}
  </span>
  <button id="editBtn" *ngIf="canEdit()" mat-icon-button color="accent" (click)="this.editEnabled = !this.editEnabled">
    <mat-icon class="example-icon" aria-hidden="false">edit</mat-icon>
  </button>
  <hr>
  <p *ngIf="!editEnabled">{{ thread.body }}</p>
  <form [formGroup]="threadForm" *ngIf="editEnabled">
    <app-mat-textarea [formGroup]="threadForm" formControlName="body"
       [value]="thread.body" ngDefaultControl></app-mat-textarea>
    <button mat-flat-button color="accent" type="button" (click)="editThread()">Save</button>
  </form>
</mat-card>

<div *ngIf="!thread">
  <p style="color: white">LOADING...</p>
</div>

<app-comment></app-comment>