<div>
  <mat-card>
    <h1>{{ uniqueName | titlecase }}</h1>
    <h4><u>Threads</u></h4>
    <ul>
      <li *ngFor="let thread of usersThreads"><b class="threadLink"
          [routerLink]="['/thread', thread.id]">{{ thread.title }}</b>
        ({{ thread.timeStamp | date: "dd/MM/yyyy" }})</li>
    </ul>
    <span>Prev</span> - <span>Next</span>

    <h4><u>Comments</u></h4>
    <ul>
      <li *ngFor="let comment of usersComments">
        <b class="threadLink" [routerLink]="['/thread', comment.thread.id]">[{{ comment.thread.title }}]</b>
        <br> <i>"{{ comment.body }}"</i> - {{ comment.timeStamp | date: "dd/MM/yyyy" }}</li>
    </ul>
    <span>Prev</span> - <span>Next</span>
  </mat-card>
</div>