<div>
  <mat-card>
    <h1>{{ uniqueName | titlecase }}</h1>
  </mat-card>
  <mat-card class="flexContainer">
    <div class="flexItem">
      <h4><u>Threads</u></h4>
      <ul>
        <li *ngFor="let thread of usersThreads"><b class="threadLink"
            [routerLink]="['/thread', thread.id]">{{ thread.title }}</b>
          ({{ thread.timeStamp | date: "dd/MM/yyyy" }})</li>
      </ul>
    </div>

    <div class="flexItem">
      <h4><u>Comments</u></h4>
      <ul>
        <li *ngFor="let comment of usersComments">
          <b class="threadLink" [routerLink]="['/thread', comment.threadId]">[{{ comment.threadId }}]</b>&nbsp;
          <i>"{{ comment.body }}"</i> ({{ comment.timeStamp | date: "dd/MM/yyyy" }})</li>
      </ul>
    </div>
  </mat-card>
</div>