.formBox {
    align-content: center;
}

.threadLink:hover {
    cursor: pointer;
    color: rgb(119, 210, 235);
}

.dataForm {
    background-color: rgb(32, 35, 46);
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 40px 0;
    border-radius: 10px;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
}

#profile{
    background-color: rgb(32, 35, 46);
    color: white;
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    max-width: 1000px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#logoutBtn {
    text-align: center;
    font-size: 30px;
    color: rgb(202, 42, 42);
}