<mat-card class="shadow">
  <form [formGroup]="threadPostForm" (ngSubmit)="onSubmit()">
    <h2>Post something!</h2>
    <app-mat-input [formGroup]="threadPostForm" formControlName="title" placeholder="Title" ngDefaultControl></app-mat-input>
    <app-mat-textarea [formGroup]="threadPostForm" formControlName="body" placeholder="What are your thoughts?"
          ngDefaultControl>
        </app-mat-textarea>
   
    <div *ngIf="threadPostForm.get('title').invalid && threadPostForm.get('title').dirty">Title needs to be between 2-40 characters</div>
    <div *ngIf="threadPostForm.get('body').invalid && threadPostForm.get('body').dirty">Body needs to be between 10-400 characters</div>
    <div align="right">
      <button mat-flat-button color="accent" type="button" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</mat-card>