#threadForm {
    background-color: rgb(32, 35, 46);
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 40px 0;
    border-radius: 10px;
    position: relative;
    top: 50px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

mat-card {
    text-align: center;
    margin-top: 50px;
    max-width: 600px;
}

.shadow {
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}
.app-mat-input {
    width: 900px;
}