<div>
  <div class="formBox">
    <form class="dataForm" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h2>Login</h2>
      <input formControlName="username" autocomplete="off" type="text" placeholder="Username"><br>
      <input formControlName="password" type="password" placeholder="Password"><br>
      <button type="submit">Submit</button>

      <div style="color: white" *ngIf="isError">Invalid login details</div>
    </form>
  </div>

  <div class="formBox">
    <form class="dataForm" [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <h2><i>Register</i></h2>

      <input formControlName="username" type="text" autocomplete="off" placeholder="Username"><br>
      <input formControlName="password" type="password" autocomplete="off" placeholder="Password">
      <div style="color: white" [hidden]="registerForm.get('username').valid || registerForm.get('username').pristine">
        Username needs to be between 3 - 12 characters
      </div>
      <div style="color: white" [hidden]="registerForm.get('password').valid || registerForm.get('password').pristine">
        Password needs to be between 6 - 20 characters
      </div><br>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>