.formBox {
    align-content: center;
}

.dataForm {
    background-color: rgb(32, 35, 46);
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 40px 0;
    border-radius: 10px;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

#profile{
    background-color: rgb(32, 35, 46);
    color: white;
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    max-width: 1000px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#logoutBtn {
    text-align: center;
    font-size: 30px;
    color: rgb(202, 42, 42);
}

input {
    background-color: rgb(244, 244, 255);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

button[type="submit"] {
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

button[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(28, 165, 28);
}