<div *ngIf="!loggedIn()">
  <div id="formBox">
    <form id="dataForm" #registerForm="ngForm" (ngSubmit)="loginUser()">
      <h2>Login</h2>
      <label>Username</label><br>
      <input [(ngModel)]="login.Username" name="username" type="text"><br>
      <label>Password</label><br>
      <input [(ngModel)]="login.Password" name="password" type="text"><br>
      <button type="submit">Submit</button>
    </form>
  </div>
  
  <div id="formBox">
    <form id="dataForm" #registerForm="ngForm" (ngSubmit)="registerUser()">
      <h2><i>Register</i></h2>
      <label>Username</label><br>
      <input [(ngModel)]="register.Username" name="username" type="text"><br>
      <label>Password</label><br>
      <input [(ngModel)]="register.Password" name="password" type="text"><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<div *ngIf="loggedIn()">
  <div id="profile">
    <span id="logoutBtn" style="float: right;" (click)="logout()">Logout</span>

      <h1>{{ decodedToken.unique_name | titlecase }}</h1>
      <h4><u>Threads</u></h4>
      <p>Threads go here..</p>
      <h4><u>Comments</u></h4>
      <p>Comments go here...</p>

  </div>
</div>