
.comments {
    max-width: 1000px;    
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 35, 46);
    color: white;
    padding: 10px;
}

.timeStamp {
    font-size: 14px;
    color: rgb(128, 163, 173);
}