
.comments {
    max-width: 1000px;    
    margin: 10px 20px 0 20px;
    background-color: rgb(47, 52, 71);
    color: white;
    padding: 10px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.timeStamp {
    font-size: 14px;
    color: rgb(128, 163, 173);
}