#threadOverview {
    background-color: rgb(32, 35, 46);
    color: white;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    max-width: 1000px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes newPostAnime {
    from { top: -60px; opacity: 0; }
    to { top: 0px; opacity: 1;}
}
.newPost:first-of-type {
    z-index: -999;
    border: 2px rgb(65, 140, 184) solid;
    position: relative;
    animation: newPostAnime 0.5s ease-in;
}

h2 {
    margin: 0px 0 0 0;
}

#timestamp {
    font-size: 12px;
}

.etc {
    display: none;
}
form {
    text-align: center;
}

