#threadOverview {
    background-color: rgb(32, 35, 46);
    color: white;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    max-width: 1000px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    display:inline-block;
    margin: 5px 0 0 0;
}

#timestamp {
    display:inline-block;
}

#etc {
    display: none;
}