mat-card {
    width: 100%;
}

.comments {
    max-width: 1000px;    
    margin: 6px auto;
    color: white;
    padding: 5px 15px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.timeStamp {
    font-size: 14px;
    color: rgb(128, 163, 173);
}