<div class="flexContainer">
  <div class="flexItem">
    <mat-card class="shadow">
      <form [formGroup]="commentForm" *ngIf="loggedIn(); else notLoggedIn" (submit)="postComment()">
        <app-mat-textarea [formGroup]="commentForm" formControlName="body" placeholder="What are your thoughts?"
          ngDefaultControl>
        </app-mat-textarea>
        <p id="errorMsg" *ngIf="errorMsg">{{ errorMsg }}</p>
        <div align="right">
          <button mat-flat-button color="accent" type="button" (click)="postComment()">Submit</button>
        </div>
      </form>
      <ng-template #notLoggedIn>
        <i>You need to be logged in to comment.</i>
      </ng-template>
    </mat-card>
  </div>

  <div class="flexItem">
    <mat-card class="comments" *ngIf="comments.length > 0; else noComments">
      <p *ngFor="let post of comments">
        <span class="timeStamp">
          [{{ post.timeStamp | timeAgo }}]
        </span>
        <span style="color: rgb(119, 210, 235)">
          {{ post.username | titlecase }} :
        </span>
        <span>{{ post.body }}</span>
      </p>
    </mat-card>
    <ng-template #noComments>
      <mat-card class="comments">
        <p>No comments yet..</p>
      </mat-card>
    </ng-template>
  </div>
</div>
