.flexContainer {
    max-width: 1000px;
    display: flex;
    margin: 0px auto;
}
.flexItem {
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
}
.flexItem, .flexItem {
    margin-left: 10px;
}

app-mat-textarea {
    width: 100%;
}

.comments {
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.timeStamp {
    font-size: 14px;
    color: rgb(128, 163, 173);
}