h2 {
    margin: 0px 0 0 0;
}

#timestamp {
    color: rgb(128, 163, 173);
    font-size: 12px;
}

.centre {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.mat-card {
    display: inline-block;
    margin: 20px;
    width: 350px;
    min-height: 180px;
    vertical-align:top;
}

.container {
    text-align: center;
}